body {
    font-family: Arial, sans-serif;
    background-color: #842121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgb(126, 8, 8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(102, 99, 94, 0.1);
}

input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}
button {
    padding: 10px;
    width: 100%;
    background-color: #11a016;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
