<form action="/users/register_html" method="post">
    {% if error %}
    <p style="color: rgb(119, 255, 0);">{{ error }}</p>
    {% endif %}
    <input type="text" name="user_name" placeholder="Kullanıcı Adı" required><br>
    <input type="text" name="surname" placeholder="Soyad" required><br>
    <input type="number" name="age" placeholder="Yaş" required><br>
    <input type="number" name="balance" placeholder="Bakiye" required><br>
    <input type="password" name="password" placeholder="Şifre" required><br>
    <select name="is_premium">
        <option value="1">Premium</option>
        <option value="0">Normal</option>
    </select><br>
    <button type="submit">Kayıt Ol</button>
</form>
